.listingContainer {
    max-width: 100%;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .imageSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .navButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .navButton:first-of-type {
    left: 10px;
  }
  
  .navButton:last-of-type {
    right: 10px;
  }
  
  .listingDetails {
    padding:0 100px;
  }
  
  .listingDetails p {
    margin: 5px 0;
  }
  
  .listingDetails strong {
    display: inline-block;
    width: 150px;
  }
  .type{
    padding: 5px 30px;
    background-color: rgb(184, 6, 6);
    border-radius: 8px;
    color: white;
    width: fit-content;
  }
  .flex{
    display: flex;
    gap: 10px;
  }
  .price{
    padding: 5px 30px;
    border-radius: 8px;
    color: white;
    width: fit-content;
   background-color: green; 
  }