/* Container for layout */
.container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

/* Form styling */
.form {
    background-color: rgb(226, 225, 225);

    border: 1px solid #e0e0e0;
    width: 30%;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-out;
    box-sizing: border-box;
}

/* Heading for the form */
.heading {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

/* Search input */
.search {
    margin-bottom: 1rem;
    display: flex;
    gap: 8px;
    align-items: center;
}

.search label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #666;
}

.search input[type="text"] {
    width: 60%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.search input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Checkboxes section */
.searchCheckboxes {
    margin-bottom: 1rem;
}

.checkboxContainer {
    margin-bottom: 1rem;
}

.checkboxGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.checkBox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkBox input[type="checkbox"] {
    margin-right: 0.5rem;
    cursor: pointer;
}

.checkBox label {
    font-size: 0.9rem;
    color: #555;
}

/* Sort section */
.sort {
    margin-top: 1rem;
    border: none;
}

.sort label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border: none;
    color: #848282;
}

.sort select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    border: none;
    background-color: rgb(224, 217, 217);
    font-size: 1rem;

}

.sort select:focus {
    outline: none;
    border: none;
}



@media (max-width: 700px) {
    .container {
        flex-wrap: wrap;
    }

    .form {
        width: 100% !important;
    }
}

@media (max-width: 1022px) {
    .form {
        width: 35%;
    }
}



.form_btn {
    border: none;
    background-color: rgb(38, 38, 42);
    padding: 10px 30px;
    font-size: 15px;
    width: 100%;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.form_btn:hover {
    opacity: 0.8;
}